body {
  background-color: #24353f;
  color: #ffe;
}

.container {
  height: 500px;
}

.welcom-box {
  background-color: #24353f;
  box-shadow: 0 0 10px 8px #0000003e !important;
  width: 500px;
  text-align: center;
  padding: 50px !important;
}

button {
  color: rgba(255, 255, 255, 0.5);

  transition: color 0.5s;
}

button:hover {
  color: #fff;
}
